/* BUTTON ELEMENT */
button {
  width: 100%;
  height: 80%;
  border: 1px solid white;
  border-radius: 15px;
  background: transparent;
  font-family: $text;
  font-size: 1.5rem;
  color: white;
  transition: all 100ms ease;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.96);
  }
}

/* BUTTON CLASS */
.button {
  &-purple {
    border: 1px solid #b01af7;
    background-color: #b11af783;

    &:hover {
      background-color: #b01af7;
    }
  }

  &--active {
    background-color: white;
    color: black;
  }
}

.capsule {
  font-size: 1rem;
  border: 1px solid #b01af7;

  &__progress-1 {
    display: none;
    background-color: #b11af736;
  }

  &__progress-2 {
    display: none;
    background-color: #b11af775;
  }

  &__progress-3 {
    display: none;
    background-color: #b11af7bd;
  }

  &__progress-4 {
    display: none;
    background-color: #b01af7;
  }

  &--visible {
    display: block;
  }

  &:hover {
    box-shadow: 0 0 10px 0px rgb(105, 105, 105);
  }
}
