.icon {
  color: rgb(97, 97, 97);
  transition: all 100ms ease-in-out;

  &:hover {
    color: white;
    cursor: pointer;
  }

  &:active {
    transform: scale(0.85);
  }

  &-copy {
    &--active {
      color: lightseagreen;

      &:hover {
        cursor: pointer;
        color: lightseagreen;
      }
    }
  }

  &--floating {
    animation: floating 1000ms infinite linear;

    &:hover {
      color: green;
    }
  }
}

.copied-popup {
  position: relative;

  &::before {
    content: "Copied!";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15;
    left: 60;
    width: 70px;
    height: 30px;
    font-size: 1.2rem;
    color: lightseagreen;
  }
}

@keyframes floating {
  0% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(4px);
  }
}
