.tx-builder {
  &__overlay {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 534px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &__outer {
      width: 370px;
      height: 75px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__blueprint {
    width: 100%;
    height: 385px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b11af734;
    border-top: 1px solid #b01af7;
    border-bottom: 1px solid #b01af7;

    &:hover {
      background-color: #b11af754;
    }

    &-carousel {
      width: 100%;
      height: 300px;
      padding: 0 14px 0 14px;
      background-color: rgba(0, 128, 0, 0.342);
      border-top: 2px solid #bfff8c;
      border-bottom: 2px solid #bfff8c;
      display: flex;
      justify-content: flex-start;
      column-gap: 71px;
      align-items: center;
      position: relative;

      &:hover {
        background-color: rgba(0, 128, 0, 0.5);
      }

      &-enter {
        transform: translateY(-400px);
        opacity: 0;
      }

      &-enter-active {
        transform: translateY(0);
        opacity: 100;
        transition: all 300ms ease-in-out;
      }

      &-exit {
        transform: translateY(0);
        opacity: 100;
      }

      &-exit-active {
        transform: translateY(-400px);
        opacity: 0;
        transition: all 300ms ease-in-out;
      }

      &-container {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: flex-start;
        column-gap: 28px;
        align-items: center;
        transition: all 300ms ease-out;
      }
    }

    &-carousel-confirm {
      width: 100%;
      height: 300px;
      padding: 0 14px 0 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &-enter {
        transform: translateY(400px);
        opacity: 0;
      }

      &-enter-active {
        transform: translateY(0);
        opacity: 100;
        transition: all 300ms ease-in-out;
      }

      &-exit {
        transform: translateY(0);
        opacity: 100;
      }

      &-exit-active {
        transform: translateY(400px);
        opacity: 0;
        transition: all 300ms ease-in-out;
      }

      &__container {
        width: 100%;
        height: 265px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: scroll;
        row-gap: 10px;
        translate: 0 16px;
      }
    }
  }
}

.utxo__display-card {
  min-width: 370px;
  position: relative;
  font-size: 0.7em;
  color: rgb(189, 189, 189);

  &:hover {
    cursor: pointer;
  }

  &--selected {
    color: white;
  }
}
